*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url("../images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  padding: 30px;
  display: block;
}
.container{
  background-color: rgba(255,228,196,0.2);
  opacity: 0.8;
  display: block;
  padding: 20px;
  height: auto;
}
h1{
  color: rgba(173, 255, 47,0.7);
}
p{
  color: #d3d3d3;
}
label{
  display: block;
  color: rgba(173, 255, 47,0.7);
}
input, select {
  color: white;
  font-size: 15px;
  width: 100%;
  background-color: transparent;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit],input[type=reset] {
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#results{
  background-color: transparent;
  margin: auto;
  padding: 30px;
  font-size: 30px;
  color: white;
}