*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url("../images/ghana.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  padding: 30px;
  display: block;
}
label{
  display: block;
}